body{
    font-family: 'Inter',sans-serif;
}

/*Navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-image: url("Assets/Hero-bg.png");
    background-size: cover;
}

.navbar .btn{
    text-decoration: none;
    border: none;
    border-radius: 6px;
    
  
}

.btn{
    background-color:#4E47FF ;
    color: white;
    border-radius: 5px;
    width: 150px; 
    height: 30px;
    
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #4E47FF;
}

/*Hero section*/
.hero{
    text-align: center;
    padding: 20px 40px;
    width: 1440px;
    height: 498px;
     background-image: url("Assets/Hero-bg.png");
}

.hero .btn{
    text-decoration: none;
    background-color:#4E47FF ;
    color: white;
    border-radius: 5px; 
    border: none;
}

.hero h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #252432;
    background-position: center;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 309px 267px 250 267px;
}

.Preview{
    display: flex;
    justify-content: space-between;
    height: 328px;
    width: 1140px;
    text-align: center;
    padding: 60px 20px;
    gap: 20px;
    margin-top:20px ;
    
  
    
}

.Preview img{
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    border-radius: 48px;
    height: 328px;
    width: 403px;
    
    
}

.Preview .section-title{
    text-align: left;
    margin-left: 141px;
    padding-top: 62px;
    padding-bottom: 62px;
    font-size: 24;
    color: #252432;
    font-size: 1.5em;
    
   
}

.Preview .btn{
    border-radius: 6px;
    border: none;
    width: 200px;
    
}

.stats .detail{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.stats{
    height: 306px;
    width: 1040px;
    padding: 90px 50px;
    margin-left: 141px;
    margin-right: 140px;
    background-color: #d7d6f6;
    border-radius: 20px;
    margin-top: 70px;
}
.hading{
    justify-content: center;
    text-align: center;
}

.stats .hading p{
    font-weight: bold;
    font-size: 38px;
    font-family: ;

}

.detail .details h2{
    font-size: 70px;
    color: #4E47FF;
}

.detail .details p{
    color: #a19898;
    height: 0px;

}

.Review .box{
    display: flex;
    gap: 20px;
    background-color: #fbf8f8;
    border-radius: 10px;
}

.Review .line-text{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.Review{
    width: 1140px;
    height: 342px;
    background-color: ;
    background-color: white;
    margin-left: 150px;
    border-radius: 50%;
    margin-top: 70px;
}

.Review .box1{
    margin-right: 20px;

}

.info{
    display: flex;
    gap: 100px;
}

.info h1{
    font-size: bold;
    font-weight: ;
    height: 232px;
    width: 500px;
    margin-left: 150px;
}
.information{
    margin-top: 70px;
    background-color: #eaecf0;
  

}

.information .info h1{
    font-size: 48px;
    font-weight: 1000;
    justify-content: center;
    text-align: center;
    margin-top: 170px;
    
   
   
}

.information .form{
    margin-left: 190px;
}

.information .form input{
    height: 70px;
    width: 497px;
    border-radius: 10px;
    border: none;
}
.information .info .form .area{
        height: 80px;
        width: 500px;
        border-radius: 10px;
        border: none;
}

.information .form .btn{
    border: none;
}