body{
    font-family: 'Inter',sans-serif;
}

/*Navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-image: url("Assets/Hero-bg.png");
    background-size: cover;
}

.navbar .btn{
    text-decoration: none;
    border: none;
    border-radius: 6px;
    
  
}

.btn{
    background-color:#4E47FF ;
    color: white;
    border-radius: 5px; 
    
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #4E47FF;
}

/*Hero section*/
.hero{
    text-align: center;
    padding: 20px 40px;
    width: 1440px;
    height: 498px;
     background-image: url("Assets/Hero-bg.png");
}

.hero .btn{
    text-decoration: none;
    background-color:#4E47FF ;
    color: white;
    border-radius: 5px; 
    border: none;
}

.hero h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #252432;
    background-position: center;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 309px 267px 250 267px;
}

